<div class="container">
  <div class="row">
    <h2 style="text-align:center;">Profile edit</h2>
    <div class="col-md-6 col-md-offset-3">
      <%= render 'layouts/error_message',resource: @user %>
      <%= form_with model:@user,url:user_path(@user), local:true do |f| %>
      <table>
        <tr>
          <td><%= f.label :"プロフィール画像" %></td>
          <td><%= attachment_image_tag @user, :profile_image,format: 'jpeg', class: "img-circle",fallback: "noimage_user.jpg",size: "200x200",id: "preview_image" %>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像",id: "preview" %>
          <!--画像プレビュー機能-->
            <%= render 'layouts/preview' %>
          <!--ここまで-->
          </td>
        </tr>
        <tr>
          <td><%= f.label :"名前" %></td>
          <td><%= f.text_field :name,autofocus: true %></td>
        </tr>
        <tr>
          <td><%= f.label :"自己紹介文" %></td>
          <td><%= f.text_area :introduction,size: "30x10" %></td>
        </tr>
          <tr>
            <td></td>
            <td><%= f.submit "変更を保存する",class:"btn btn-success" %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= link_to "戻る",user_path(@user),class:"btn btn-primary" %></td>
          </tr>
      </table>
    <% end %>
    </div>
  </div>
</div>
