<div class="container">
  <%= render 'layouts/flash_message' %>
  <% if user_signed_in? && @user == current_user %>
    <h2 style="text-align:center;">MyPage</h2>
  <% else %>
    <h2 style="text-align:center;">User Page</h2>
  <% end %>
  <div class="row">
    <div class="user-info col-xs-3">
      <table class="table">
        <tr>
        <td>
          <%= attachment_image_tag @user, :profile_image, format: 'jpeg',class: "img-circle profile-img",fallback: 'noimage_user.jpg',size: "100x100" %>
        </td>
        </tr>
        <tr>
        <td class="user-name">
          <%= link_to @user.name,user_path(@user) %>
        </td>
        </tr>
        <tr>
        <td class="user-introduction">
          <%= @user.introduction %>
        </td>
        </tr>
        <tr>
        <td class="user-following success">
          <%= link_to user_followings_path(@user) do%>
            <%= "#{@user.followings.count}フォロー" %>
          <% end %>
        </td>
        </tr>
        <tr>
        <td class="user-follower info" >
          <%= link_to user_followers_path(@user) do %>
            <% "#{@user.followers.count}フォロワー" %>
          <% end %>
        </td>
        <tr>
        <% if user_signed_in? && @user == current_user %>
        <tr>
        <td class="link-bookmark warning">
          <%= link_to "ブックマーク一覧",bookmarks_posts_path %>
        </td>
        <tr>
        <tr>
        <td class="link-edit-profile danger">
          <%= link_to "プロフィール編集",edit_user_path(@user) %>
        </td>
        </tr>
        <tr>
        <td class="link-edit-myinfo active">
          <%= link_to "登録情報の変更はこちら",edit_user_registration_path %>
        </td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-xs-9">
      <%= render 'posts/post_index',posts: @posts,user: @user %>
      <%= link_to 'Back', posts_path,class: "btn-warning btn-sm pull-right" %>
    </div>
  </div>
</div>