<p id = "notice"></p>
  <% if user_signed_in? && @user == current_user %>
<div class="container">
    <h1>MyPage</h1>
  <% else %>
    <h1>User Page</h1>
  <% end %>
  <div class="row">
    <div class="user-info col-md-3">
      <div class="user-img">
        <%= attachment_image_tag @user, :profile_image, format: 'jpeg',class: "img-circle profile-img",fallback: 'noimage_user.jpg',size: "100x100" %>
      </div>
      <div class="user-name">
        <%= link_to @user.name,user_path(@user) %>
      </div>
      <div class="user-introduction">
        <%= @user.introduction %>
      </div>
      <div class="user-following">
        <%= link_to user_followings_path(@user) do%>
          <%= "#{@user.followings.count}フォロー" %>
        <% end %>
      </div>
      <div class="user-follower">
        <%= link_to user_followers_path(@user) do %>
          <% "#{@user.followers.count}フォロワー" %>
        <% end %>
      </div>
      <% if user_signed_in? && @user == current_user %>
      <div class="link-bookmark">
        <%= link_to "ブックマーク一覧",bookmarks_posts_path %>
      </div>
      <div class="link-edit-profile">
        <%= link_to "プロフィール編集",edit_user_path(@user) %>
      </div>
      <div class="link-edit-myinfo">
        <%= link_to "登録情報の変更はこちら",edit_user_registration_path %>
      </div>
      <% end %>
    </div>
    <div class="col-md-9">
      <div class="row">
      <% @posts.each do |post| %>
        <%= link_to post_path(post) do %>
          <%= attachment_image_tag post, :post_image, :fill, 100, 100, format: 'jpeg',fallback: 'noimage.jpg' %>
        <% end %>
      </div>
      <div class="row">
        <%= link_to post.title,post_path(post) %>
      </div>
      <div id="likes_buttons_<%= post.id %>">
        <%= render 'likes/like',post: post %>
      </div>
      <div class="row">
        <% post.tags.each do |tag| %>
          <%= link_to tag.tag_name, tag_posts_path(tag_id: tag.id) %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>