<!--検索結果表示-->
<% if search_posts %>  
    <% search_posts.each do |post| %>
    <div class="post">
        <div class="user-body">
          <%= link_to user_path(post.user.id) do %>
            <%= attachment_image_tag user, :profile_image, format: 'jpeg',class: "img-circle profile-img",fallback: 'noimage_user.jpg', size: "60x60" %>
          <% end %>
          <%= link_to post.user.name,user_path(post.user.id) %>
        </div>
        <div class="tea-body">
          <%= link_to post_path(post) do %>
            <%= attachment_image_tag post, :post_image, format: 'jpeg',fallback: 'noimage.jpg',size: "180x200" %>
          <% end %>
          <div class="post-title">
            <%= link_to post.title,post_path(post) %>
          </div>
        </div>
        <div class="post-tag">
          <% post.tags.each do |tag| %>
            <%= link_to tag.tag_name, tag_posts_path(tag_id: tag.id) %>
          <% end %>
        </div>
        <div class="post-icon">
          <%= render 'likes/like', post: post %>
        </div>
         <%= render 'posts/bookmark',post: post %>
    </div>
  <% end %>
<% else %>
<!--投稿一覧表示-->
  <% posts.each do |post| %>
  <div class="post">
      <div class="user-body">
        <%= link_to user_path(post.user.id) do %>
          <%= attachment_image_tag user, :profile_image, format: 'jpeg',class: "img-circle profile-img",fallback: 'noimage_user.jpg', size: "60x60" %>
        <% end %>
        <%= link_to post.user.name,user_path(post.user.id) %>
      </div>
      <div class="tea-body">
        <%= link_to post_path(post) do %>
          <%= attachment_image_tag post, :post_image, format: 'jpeg',fallback: 'noimage.jpg',size: "180x200" %>
        <% end %>
        <div class="post-title">
          <%= link_to post.title,post_path(post) %>
        </div>
      </div>
      <div class="post-tag">
        <% post.tags.each do |tag| %>
          <%= link_to tag.tag_name, tag_posts_path(tag_id: tag.id) %>
        <% end %>
      </div>
      <div class="post-icon">
        <%= render 'likes/like', post: post %>
      </div>
       <%= render 'posts/bookmark',post: post %>
  </div>
  <% end %>
<% end %>