<h2 style="text-align:center;">Post Edit</h2>
<div class="container">
  <%= render 'layouts/error_message',resource: @post %>
  <div class="row">
    <%= form_with model: @post, local: true do |f|  %>
    <div class="col-md-4">
      <%= attachment_image_tag @post, :post_image, format: 'jpeg',fallback: "noimage.jpg",size: "300x300",id: "preview_image" %>
      <%= f.attachment_field :post_image, placeholder: "投稿画像",id: "preview"  %>
      <!--画像プレビュー機能-->
        <%= render 'layouts/preview' %>
      <!--ここまで-->
    </div>
    <div class="col-md-8">
      <div class="row">
        <%= f.label :"タイトル",class: "col-md-4" %>
        <%= f.text_field :title,class: "col-md-4" %>
      </div>
      <div class="row">
        <%= f.label :"お茶の種類",class: "col-md-4" %>
        <%= f.select :kind, ["抹茶", "玉露", "煎茶", "番茶", "その他"],prompt: "お茶の種類を選択してください",class: "col-md-4" %>
      </div>
      <div class="row">
        <%= f.label :"タグ",class: "col-md-4" %>
        <%= f.text_field :tag_name, value: @tag_list,placeholder:"例）豆知識,お悩み,日常,相談",class: "col-md-4" %>
      </div>
      <div class="row">
        <%= f.label :"本文",class: "col-md-4" %>
        <%= f.text_area :body,placeholder:"800字以内",size: "30x10",class: "col-md-4" %>
      </div>
      <div class="row">
          <%= f.submit "更新する",class: "col-md-2 btn btn-warning btn-sm"%>
      </div>
    </div>
    <% end %>
  </div>
</div>
