<h2><%= @tag.tag_name %>タグのついた投稿一覧</h2>
<div class="container">
  <!--タグリスト-->
  <div class="row">
    <div class="col-md-3">
      <%= render 'posts/tag_list',tag_list: @tag_list %>
    </div>
  <!--投稿一覧-->
    <div class="col-md-9">
      <% @posts.each do |post| %>
        <%= link_to post_path(post) do %>
          <%= attachment_image_tag post, :post_image, :fill, 10, 10, format: 'jpeg',fallback: 'no_image.jpg' %>
        <% end %>
        <!--userの画像表示させたい-->
        <%#= attachment_image_tag @user, :profile_image, :fill, 10, 10, format: 'jpeg',class: "image-circle",fallback: 'no_image.jpg' %>
        <%= link_to post.user.name,user_path(post.user.id) %>
        <%= post.title %>
        <%= render 'posts/bookmark',post: post %>
      <% end %>
    </div>
  </div>
</div>